main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.landingCntn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    margin: 80px auto;
    padding: 120px;
    height: 400px;
    width: 800px;
}

.landingCntn h3 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.landingCntn p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btnCntn {
    display: flex;
    align-items: center;
    gap: 24px;
}