* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

body {
  background-color: #F8ECEC;
  font-family: "Montserrat", sans-serif;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.right>button {
  position: absolute;
  top: 30px;
  right: 200px;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.address {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  top: 40px;
  right: 40px;
}

.address h3 {
  font-size: 16px;
  font-weight: 500;
}

.button {
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: #F8ECEC;
  border-radius: 10000px;
  border: 1px solid #FF1F1F;
  width: 150px;
  cursor: pointer;
  font-family: "Montserrat";
}